form {
    background-color:lightblue; 
    margin:20px; width:700px; 
    display:block; margin:auto; 
    text-align:center; 
    padding:10px; 
    border: 3px solid black;
     font-family:Arial;
    }
h1 {
    text-align:center;
}
#description {
    text-align:center; 
    font-size:25px;
}
form label {
    padding:5px;
}
textarea {
    width:550px;
    height:250px;
}
#number {
    width:180px;
}
